<h1> Rewards: </h1>

<ul>
  <% @rewards.each do |reward| %>
    <li>
      <%= reward.name %><br>
      <%= link_to "edit", edit_admin_reward_path(reward) %>
      <%= link_to "delete", admin_reward_path(reward), method: "delete" %>
    </li>
  <% end %>
</ul>
