<h1>Welcome, <%= @user.name %>!</h1>

Total points: <%= @user.points %>

<br>Your Rewards:
<ul>
  <% @user_rewards.each do |reward| %>
    <li>
      <%= reward.name %>
    </li>
  <% end %>
</ul>

<br>

Available rewards:
<ul>
  <% @rewards.each do |reward| %>
    <li>
      <%= reward.name %>
    </li>
  <% end %>
</ul>
