<h1>Welcome, <%= @user.name %>!</h1>

<% if @user.points %>
  Total points: <%= @user.points %>
<% else %>
  Total points: 0
<% end %><br>

Your Rewards:
<ul>
  <% @user_rewards.each do |reward| %>
    <li>
      <%= reward.name %>
    </li>
  <% end %>
</ul>

<br>

Available rewards:
<ul>
  <% @rewards.each do |reward| %>
    <li>
      <%= reward.name %>
    </li>
  <% end %>
</ul>
