<h1>All Users</h1>

<ul>
  <% @users.each do |user| %>
    <li>
      <%= user.name %><br>
      Points: <%= user.points %><br>
      <%= link_to "Edit points", edit_admin_user_path(user)%>
    </li><br>
  <% end %>
</ul>
